<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>
        let obj1 = {
            a1: 1,
            a2: {
                oo1: 1,
                oo2: 2,
                oo3: {
                    ooo1: 1,
                }
            }
        }
        let obj2 = {};
        //Object.defineProperties(obj2, Object.getOwnPropertyDescriptors(obj1))
        obj2 = Object.create({}, Object.getOwnPropertyDescriptors(obj1))
        console.log(obj2)
        obj2.a2.oo1 = 888;
        console.log(obj1)
    </script>
</body>

</html>